{% extends 'layout.twig' %}

{% block content %}
    <h2>{{ title }}</h2>
    <h3>{{ message }}</h3>



        <div class="row">
            <form class="form-horizontal" action="/users/update" method="post" enctype="multipart/form-data">
            <div class="col-md-6">
                <p>_______________________________________</p>
                <h2>name: {{ data.name }}</h2>
                <div class="form-group">
                    <label for="input1" class="col-sm-2 control-label">Логин</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input1" name="login" placeholder="Логин" value="{{ data.login }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input2" class="col-sm-2 control-label">Имя</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input2" name="name" placeholder="Имя" value="{{ data.name }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="input3" class="col-sm-2 control-label">Возраст</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input3" name="age" placeholder="Возраст" value="{{ data.age }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="input4" class="col-sm-2 control-label">Описание</label>
                    <div class="col-sm-10">
                        <input type="textarea" class="form-control" id="input4" name="description" placeholder="Описание" value="{{ data.description }}">
                    </div>
                </div>

                <p><img src="/assets/template/img/{{ data.photo }}" width="300" alt=""></p>

                <div class="form-group">
                    <label for="input5" class="col-sm-2 control-label">Новое фото</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" id="input5" name="userfoto" placeholder="Новое фото" >
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" name="id" value="{{ data.id }}">
                        <input type="submit" class="form-control" id="input6" name="button" value="Отправить">
                    </div>
                </div>
                <a href="/users/delete/{{ data.id }}">Удалить пользователя</a>

            </div>
            </form>
        </div>


{% endblock %}